*{
    margin: 0;
    padding: 0;
}
.cards{
    border: 2px solid black;
    display: flow-root;
}
img{
    float: left;
}
.card{
    border: 2px solid brown;
}
.card:nth-child(3){
    background-color: antiquewhite;
    clear: both;
}